.skills__list {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 0.5em;
}

.skills__list-item img {
  flex-shrink: 0;
  display: block;
}